.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textField {
    margin: 10px 0;
}